@charset "utf-8";

body {
	font: 15px/24px "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #000000;
	background: #FFF url(../images/html_bg_02.jpg) repeat-x center top;
}












/*________________________ClearFix          */

.ClearFix {
	zoom: 1;
}
.ClearFix:after {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	line-height: 0;
	content: ".";
}
/* no ie mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	overflow: hidden;
	clear: both;
}
.clear {
	clear: both;
}
